body{ background-repeat: no-repeat
    background-size: contain;
}
.one1{
    width:80%;
    height:30%;
    float:left;
    color:antiquewhite;
    position:absolute;
    left:15%;
    
    font-size:25px;
}
.one2{
    width:80%;
    height:30%;
    float:left;
    color:antiquewhite;
    position:absolute;
        top:45%;
    font-size:25px;
}
.one3{
    width:80%;
    height:30%;
    float:left;
    color:antiquewhite;
    position:absolute;
    top:75%;
    left:15%;
    font-size:25px;
}
#img{
    height:100%;
    width:100%;
}
#pic1{
    height:100%;
    width:50%;
    border-radius: 70%;
    position: absolute;
}
#pic2{
    height:100%;
    width:40%;
     border-radius:70% ;
    position: absolute;
    top:45%;
    left:58%;
}
#pic3{
    height:100%;
    width:30%;
     border-radius: 70%;
    position: absolute;
    top:75%;
}